.container {
  padding: 1rem 4rem;
  /* display: flex; */

  /* height: 100vh; */
}

.search {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  height: 2rem;
  padding: 0.5rem;
  /* height: ; */
}

input {
  margin-right: 0.5rem;
}

input:not(:first-child) {
  width: 10rem;
}

input:focus {
  border: 1px solid lightskyblue;
  border-radius: 5px;
  outline: none;
}



.table-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
  overflow-x: auto;
}

.table-header > * {
  text-align: start;
  font-weight: 700;
}

.name-column {
  min-width: 18rem;
}
.email-column {
  min-width: 18rem;
}
.role-column {
  min-width: 10rem;
}
.actions-column {
  min-width: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  height: 3.5rem;
  /* text-align: center; */
}

.delete-button {
  /* display: inline-block; */
  /* align-content: flex-end; */
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  font-weight: 500;
  white-space: nowrap;
}

.delete-button:active {
  transform: translateY(3px);
}

.pagination {
  display: flex;
  /* align-self: flex-end; */
  width: 100%;
  padding: 0.5rem 4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* overflow-x: auto; */
}
.pagination > * {
  width: 3rem;
  line-height: 16px;
  margin: 0 0.5rem;
}
.pages {
  display: flex;
  align-items: center;
  width: 15rem;
  overflow-x: auto;
}
.pages > * {
  width: 3rem;
  line-height: 16px;
  margin: 0 0.5rem;
}

.pages > span {
  display: inline-block;
}

.pages > *:hover {
  border-radius: 20rem;
  border: 1px solid lightskyblue;
  padding: 0.5rem;
  text-align: center;
}
.pagination > :not(div):hover {
  border-radius: 20rem;
  border: 1px solid lightskyblue;
  padding: 0.5rem;
  text-align: center;
}

.first-page {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 20rem;
  padding: 0.5rem;
}
.last-page {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 20rem;
  padding: 0.5rem;
}

.selected-page {
  color: whitesmoke;
  background-color: lightseagreen;
  border-radius: 20rem;
  font-weight: 700;
  padding: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888;  */
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightseagreen;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0.5rem 1rem;
  }

  .pages {
    width: 10rem;
  }
  .pagination {
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 597px) {
  .footer {
    flex-direction: column;
  }

  .delete-button {
    margin-top: 0.5rem;
    width: 100%;
  }
}
